body {
  font-size: 14px;
}

.navbar {
  border-radius: 0;
}

.row {
  margin-bottom: 50px;
}

.icon {
  text-align: center;
}

.icon .glyphicon {
  margin-bottom: 10px;
  font-size: 40px;
  color: #777;
}

.content h2 {
  margin-top: 0;
  padding-bottom: 15px;
}

.content p {
  margin-bottom: 30px;
}

footer {
  border-top: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  text-align: center;
}

.copyright {
  padding: 20px 0;
  font-size: 12px;
  color: #666;
}

@media (max-width: 768px){
  body {
    font-size: 12px;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 24px;
  }
  .panel-title{
    font-size: 14px;
  }
}
